<!-- customization of admin panel adding logos  -->

{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
  <link rel='stylesheet' href="{% static 'admin/admin.css' %}">
{% endblock %}

{% block branding %}

<h1 class="head" id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/logo.png' %}" height="60px" />
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}


