<!-- footer of whole website  start here-->

<div class="container-fluid text-center myfooter  py-3" style="background-color: #17202A;color: #fff">
	<h1>Contact Us</h1>
	<hr class='hr'>
          <div class="container mx-auto">
                <h2>E-Literate</h2>
                    <address> 0259-N HUMAYUNPUR NORTH ,GORAKHPUR 273001 <br>Uttar Pradesh <br>teameliterate@eliterate.in </address>
                <ul class="mx-auto" >
			      <li>
			        <a href="https://www.instagram.com/eliterate.in/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			      </li>
			      <li>
			        <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></a></i>
			      </li>
			      <li>
			        <a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></a></i>
			      </li>
			      <li>
			        <a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></a></i>
			      </li>
			    </ul>
		</div>

		<div class="container-fluid myfooter2 text-center" style="background-color: #17202A;color: #fff;">
           <p>  &copy; Copyright 2020 E-literate. All Right Reserved </p>
           <ul>
               <li><a  href="#" class="btn btn2">privacy </a></li>
               <li><a  href="#" class="btn btn2">T&C</a></li>
               <li><a  href="#" class="btn btn2">services</a></li>
           </ul>
		</div>
</div>
<!-- footer of whole website  end here-->
